<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/adminResources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/adminResources/css/style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>


    <title>Holdiays Insider</title>
</head>

<body>

<main role="main">


    {#-----jumbotron----#}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to Holidays Insider</h1><br>
            <p>PYTHON-HOLIDAYS<br>
                A fast, efficient Python library for generating country, province and state specific sets of holidays on
                the fly. It aims to make determining whether a specific date is a holiday as fast and flexible as
                possible</p>

            <p><a class="btn btn-primary btn-lg mt-5" href="#dateBasedHolidays" role="button">Learn more &raquo;</a></p>
        </div>
    </div>


</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/adminResources/js/jquery.min.js"></script>
<script src="../static/adminResources/js/popper.min.js"></script>
<script src="../static/adminResources/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
    $('.select2').select2();
</script>


</body>


</html>