<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/adminResources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/adminResources/css/style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>


    <title>Holdiays Insider</title>
</head>

<body>

<main role="main">


    {#-----jumbotron----#}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to Holidays Insider</h1><br>
            <p>PYTHON-HOLIDAYS<br>
                A fast, efficient Python library for generating country, province and state specific sets of holidays on
                the fly. It aims to make determining whether a specific date is a holiday as fast and flexible as
                possible</p>

            <p><a class="btn btn-primary btn-lg mt-5" href="#dateBasedHolidays" role="button">Learn more &raquo;</a></p>
        </div>
    </div>


    {#------DisplayHolidaysByCountries----#}
    <div class="container mb-5 text-center" id="dateBasedHolidays">
        <h3 class="text-uppercase mt-5 bg-light p-1">display of holidays by entering COUNTRY Name.</h3>
        <h5 class="my-5 mx-auto">
            <ul class="text-justify">
                <li>First Select The country from Drop-down list OR type the name of that country from the list.</li>
                <li>Then click the submit button and holidays with Dates for that country of current year will be
                    displayed.
                </li>
            </ul>
        </h5>
        <h4 class="mt-3 text-white bg-secondary p-2">The output will be holidays list of current year for your selected
            country</h4>

        <form class="needs-validation mt-4 text-lg"
              action="/country/viewHoliday" method="post"
              enctype="multipart/form-data">
            <div class="form-row mt-5 text-center  justify-content-center">

                <div class="col-md-2">
                    <label class="text-dark bg-light p-1 text-uppercase">Enter Country - </label>
                </div>
                <div class="col-md-7">


                    <select class="form-control select2" required name="countryName">
                        {#                        <option class="disabled">Select Country</option>#}
                        {% for country in countries %}
                            <option class="text-center">{{ country }}</option>
                        {% endfor %}

                    </select>

                </div>

                <div class="col-md-3">

                    <button type="submit" class="btn-success">Show Holidays</button>
                </div>
            </div>

        </form>

    </div>
    <hr>


    {#------DisplayHolidaysByCountries&months----#}
    <div class="container mb-5 text-center">

        <h6 class="bg-warning">{{ msg }}</h6>
        <h3 class="text-uppercase mt-5 bg-light p-1">display of holidays by entering COUNTRY Name and selecting
            Month</h3>
        <h5 class="my-5 mx-auto">
            <ul class="text-justify">
                <li>First Select The country from Drop-down list OR type the name of that country from the list.</li>
                <li>Then Select The Month from Drop-down list</li>

                <li>Then click the submit button and holidays with Dates for that country of selected Month of current Year  will be
                    displayed.
                </li>
            </ul>
        </h5>
        <h4 class="mt-3 text-white bg-secondary p-2">The output will be holidays list of current year for your selected
            country</h4>

        <form class="needs-validation mt-4 text-lg"
              action="/country/viewHolidaybyMonth" method="post"
              enctype="multipart/form-data">
            <div class="form-row mt-5 text-center  justify-content-center">


                <div class="col-md-4">
                    <input type="month" id="selectmonth" name="month" required>
                </div>
                <div class="col-md-5">


                    <select class="form-control select2" required name="countryName">
                        {#                        <option class="disabled">Select Country</option>#}
                        {% for country in countries %}
                            <option class="text-center">{{ country }}</option>
                        {% endfor %}

                    </select>

                </div>

                <div class="col-md-3">

                    <button type="submit" class="btn-success">Show Holidays</button>
                </div>
            </div>

        </form>

    </div>
    <hr>


</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/adminResources/js/jquery.min.js"></script>
<script src="../static/adminResources/js/popper.min.js"></script>
<script src="../static/adminResources/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
    $('.select2').select2();
</script>


</body>


</html>